*::-webkit-input-placeholder {
	color: rgba(34, 34, 34, 0.64);
	opacity: 1;
}
*:-moz-placeholder {
	color: rgba(34, 34, 34, 0.64);
	opacity: 1;
}
*::-moz-placeholder {
	color: rgba(34, 34, 34, 0.64);
	opacity: 1;
}
*:-ms-input-placeholder {
	color: rgba(34, 34, 34, 0.64);
	opacity: 1;
}

body input:focus:required:invalid,
body textarea:focus:required:invalid {
	
}
body input:required:valid,
body textarea:required:valid {
	
}
body {
	font-family: 'Stolzl';
	font-size: 0.833vw;
	line-height: 140%;
	color: #222;
	overflow-x: hidden;
	margin: 0;
	background-color: #fff;
}
button {
	cursor: pointer;
}
button, input, optgroup, select, textarea {
	font-family: inherit;
}
input {
-webkit-appearance: none;
-moz-appearance: none;
appearance: none;
}
button,
textarea,
input.text,
input[type="text"],
input[type="button"],
input[type="submit"] {
  -webkit-appearance: none;
}
a, button, input, img {
	transition: all 0.3s;
}
h1,h2,h3,h4,h5,h6 {
	padding: 0;
	margin: 0;
	font-weight: normal;
}
.wrapper {
	overflow: hidden;
}
a {
	text-decoration: none;
	outline: none;
}
* {
	outline: none !important;
}
ul {
	padding: 0;
	margin: 0;
}
ul li {
	list-style-type: none;
	outline: none;
}
img {
	outline: none;
	display: block;
}
p {
	padding: 0;
	margin: 0;
}
form {
	margin: 0;
}

.container {
    max-width: 84.896vw;
	padding: 0 0.781vw;
}
.billbord {
	padding-top: 8.6vw;
	min-height: 55.469vw;
	background-image: url(../img/billbord.jpg);
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	position: relative;
}
.billbord__head {
	margin-bottom: 3vw;
	display: flex;
	align-items: center;
}
.billbord__date {
	font-size: 5.729vw;
	margin-right: 4.635vw;
	line-height: 90%;
	text-align: center;
	letter-spacing: -0.03em;
	font-weight: 500;
	color: #06376b;
}
.billbord__date span {
	font-size: 1.563vw;
	line-height: 1.667vw;
	display: block;
}
.billbord__name {
	font-size: 7.292vw;
	line-height: 120%;
	color: #06376b;
	font-family: 'Oktyabrina script';
}
.billbord__logo {
	padding: 3.021vw 4.479vw;
	max-width: 63.75vw;
	margin-left: -8.646vw;
	background: linear-gradient(90deg, rgba(1, 44, 124, 0.96) 44.5%, rgba(0, 44, 126, 0) 100%);
}
.billbord__logo img {
	width: 40.26vw;
	height: auto;
}
.billbord__info {
	font-size: 2.188vw;
	padding: 1.667vw;
	padding-right: 15.781vw;
	margin-left: 10.26vw;
	margin-top: -2.031vw;
	max-width: 64.063vw;
	line-height: 120%;
	color: #fff;
	background: linear-gradient(90deg, rgba(1, 44, 124, 0.96) 44.5%, rgba(0, 44, 126, 0) 100%);
}
.billbord__bottom {
	margin-left: 41vw;
	margin-top: 2.396vw;
	display: flex;
	align-items: center;
}
.btn-main {
	font-size: 1.667vw;
	padding: 0 3.333vw;
	height: 6.198vw;
	background: #d15133;
	border-radius: 0.833vw;
	line-height: 110%;
	cursor: pointer;
	letter-spacing: 0.05em;
	text-transform: uppercase;
	text-align: center;
	color: #fff;
	display: inline-flex;
	align-items: center;
	justify-content: center;
	text-align: center;
	font-family: 'Furore';
	border: none;
}
.btn-main:hover {
	background: #9d1e00;
}
.billbord__bottom .btn-main {
	flex: none;
}
.billbord__icon {
	margin-right: 1vw;
}
.billbord__icon img {
	width: 22.656vw;
	height: auto;
}
.billbord__img {
	right: 3.906vw;
	bottom: 13.281vw;
	position: absolute;
}
.billbord__img img {
	width: 10.677vw;
}

.header {
	padding: 2.188vw 0;
	top: 0;
	left: 0;
	width: 100%;
	position: fixed;
	z-index: 1000;
	font-family: 'Noah';
	transition: all 0.5s;
}
.header.fixed {
	padding: 1.5vw 0;
	background: #fff;
}
.header__wrapper {
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.logo img {
	width: 19.115vw;
	height: auto;
}
.menu {
	font-size: 1.25vw;
	line-height: 110%;
	font-weight: 500;
	display: flex;
	align-items: center;
}
.menu li {
	padding: 0 1.094vw;
}
.menu a {
	color: #06376b;
	border-bottom: 1px transparent solid;
}
.menu .active a,
.menu a:hover {
	color: #d15133;
	border-color: #d15133;
}
.list-languages {
	display: flex;
	align-items: center;
}
.list-languages li {
	margin-right: 0.417vw;
}
.list-languages li:last-child {
	margin-right: 0;
}
.list-languages li a {
	border: 0.104vw solid #06376b;
	border-radius: 1.667vw;
	padding: 0 0.833vw;
	height: 1.979vw;
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
	font-size: 1.042vw;
	line-height: 110%;
	text-transform: uppercase;
	font-weight: 500;
	color: #06376b;
}
.list-languages li a:hover,
.list-languages li.active a {
	color: #d15133;
	border-color: #d15133;
}

.program {
	padding-top: 11.458vw;
	padding-bottom: 6.458vw;
}
.title-section {
	font-size: 3.75vw;
	line-height: 88%;
	letter-spacing: -0.03em;
	text-transform: uppercase;
	color: #222;
	font-weight: 500;
}
.title-section::before {
	margin-right: 0.521vw;
	content: "//";
	color: #d15133;
}
.program .title-section {
	margin-bottom: 3.333vw;
}
.item-data {
	font-size: 6.458vw;
	padding: 2.448vw 2.604vw;
	line-height: 110%;
	margin-bottom: 0.833vw;
	letter-spacing: -0.02em;
	text-transform: uppercase;
	color: rgba(34, 34, 34, 0.32);
	text-align: center;
	cursor: pointer;
	transition: all 0.3s;
	border-right: 0.313vw solid transparent;
}
.item-data span {
	font-size: 1.25vw;
	line-height: 110%;
	display: block;
	width: 100%;
	letter-spacing: normal;
	text-transform: none;
}
.slick-current .item-data {
	color: #d15133;
	font-weight: 500;
	border-color: #e17f68;
}
.item-data:hover {
	color: #d15133;
}
.wrap-nav {
	max-width: 16.719vw;
	min-height: 100%;
	position: relative;
}
.wrap-nav::after {
	position: absolute;
	display: block;
	content: " ";
	width: 0.052vw;
	height: 100%;
	right: 0.156vw;
	top: 0;
	background: rgba(34, 34, 34, 0.32);
	z-index: -1;
}
.title-main {
	font-size: 2.5vw;
	line-height: 110%;
}
.table-wrap {
	padding-bottom: 0.521vw;
	overflow: auto;
}
.table-wrap table {
	width: auto;
	white-space: nowrap;
	border-spacing: 0;
}
.table-wrap td {
	padding: 1.25vw 1.667vw;
	border-bottom: 0.104vw solid rgba(34, 34, 34, 0.64);
	color: rgba(34, 34, 34, 0.86);
	line-height: 110%;
	font-weight: 300;
}
.table-wrap td:first-child {
	font-size: 0.938vw;
	line-height: 110%;
	color: #222;
	font-weight: 500;
}
.table-wrap td.disabled-td {
	color: rgba(34, 34, 34, 0.42) !important;
}
.table-wrap td img {
	height: 1.667vw;
	margin-right: 0.833vw;
	width: auto;
	display: inline-block;
	vertical-align: middle;
}
.table-wrap th {
	padding: 0.833vw 1.667vw;
	font-size: 0.938vw;
	line-height: 110%;
	color: rgba(255, 255, 255, 0.86);
	text-align: left;
	background: #222;
	font-weight: 500;
}
.item-program {
	margin-top: 1.667vw;
	margin-left: 2.604vw;
	max-width: 39.583vw;
}
.item-program .title-main {
	margin-bottom: 1.719vw;
}
.table-wrap::-webkit-scrollbar {
	-webkit-appearance: none;
}
.table-wrap::-webkit-scrollbar:vertical {
	width: 0.26vw;
}
.table-wrap::-webkit-scrollbar:horizontal {
	height: 0.26vw;
}
.table-wrap::-webkit-scrollbar-thumb {
	background-color: #222;
	border-radius: 0.521vw;
}
.table-wrap::-webkit-scrollbar-track {
	border-radius: 0.521vw;
	background-color: #ccc;
}
.image-td {
	width: 2.188vw;
	height: 2.188vw;
	margin-right: 0.833vw;
	display: inline-block;
	vertical-align: middle;
}
.image-td img {
	width: 100% !important;
	height: 100% !important;
	margin: 0 !important;
	object-fit: cover;
	font-family: 'object-fit: cover;';
	border-radius: 50%;
}
.descr-table {
	margin-top: 1.302vw;
	line-height: 110%;
	color: rgba(34, 34, 34, 0.64);
	font-weight: 300;
}

.speakers {
	padding-top: 6.458vw;
	background: #f2f2f2;
}
.speakers .title-section {
	margin-bottom: 3.333vw;
}
.item-speaker {
	margin-bottom: 2.865vw;
	line-height: 110%;
	display: flex;
	align-items: flex-start;
}
.item-speaker__image {
	width: 	6.25vw;
	height: 6.25vw;
	margin-right: 2.813vw;
	border-radius: 50%;
	flex: none;
}
.item-speaker__image img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	font-family: 'object-fit: cover;';
	border-radius: 50%;
}
.item-speaker__content {
	padding-top: 0.625vw;
	flex: 1;
}
.item-speaker__descr {
	margin-bottom: 0.417vw;
	color: rgba(34, 34, 34, 0.42);
}
.item-speaker__title {
	font-size: 1.458vw;
	margin-bottom: 1.25vw;
	color: rgba(34, 34, 34, 0.86);
}
.item-speaker__info {
	font-size: 0.938vw;
	max-width: 22.448vw;
	line-height: 130%;
	color: rgba(34, 34, 34, 0.72);
	display: flex;
	align-items: center;
}
.item-speaker__info img {
	height: 2.135vw;
	margin-right: 1.25vw;
}
.bottom-button {
	padding: 1.25vw 0px;
	margin-top: 1.563vw;
	border-top: 1px solid rgba(34, 34, 34, 0.32);
	text-align: right;
	line-height: 110%;
}
.btn-more {
	font-size: 0.938vw;
	line-height: 110%;
	font-weight: 500;
	text-transform: uppercase;
	color: #d15133;
	display: inline-flex;
	align-items: center;
}
.btn-more img {
	width: 0.833vw;
	margin-left: 0.417vw;
	height: auto;
}

.partners {
	padding-top: 11.979vw;
	padding-bottom: 6.458vw;
	background-image: url(../img/bg_logo.svg);
	background-repeat: no-repeat;
	background-position: right top 6.458vw;
	background-size: 59.115vw auto;
}
.item-partner {
	height: 16.667vw;
	padding: 1.563vw;
	display: flex;
	align-items: center;
	justify-content: center;
	transition: all 0.3s;
	border: 0.104vw solid transparent;
}
.slider-partners .slick-slide {
	border: 0.104vw solid rgba(34, 34, 34, 0.32);
}
.slider-partners .slick-current + .slick-slide {
	border-color: #d15133;
}
.slider-partners .slick-current + .slick-slide .item-partner {
	border-color: #d15133;
}
.slider-partners .slick-list {
	border: 0.104vw solid rgba(34, 34, 34, 0.32);
}

.item-partner img {
	max-width: 100%;
	max-height: 100%;
}
.slider-partners {
	padding: 3.333vw 0;
}
.slick-arrow {
	width: 1.406vw;
	height: 2.292vw;
	top: 50%;
	display: flex;
	align-items: center;
	justify-content: center;
	cursor: pointer;
	transition: all 0.3s;
}
.slick-arrow img {
	height: 100%;
	width: auto;
}
.slick-prev {
	left: 0;
}
.slick-next {
	right: 0;
}
.slick-arrow::before {
	display: none;
}
.slider-partners .slick-arrow {
	bottom: 100%;
	right: 0;
	left: auto;
	top: auto;
	transform: none;
}
.slider-partners .slick-prev {
	right: 3.438vw;
}
.slick-dots {
	bottom: 0;
	left: 0;
	width: 100%;
	text-align: left;
}
.slick-dots li {
	width: 8.125vw;
	height: 0.313vw;
	margin: 0 0.417vw;
}
.slick-dots li button {
	width: 8.125vw;
	height: 0.313vw;
	background-color: rgba(34, 34, 34, 0.16);
	border-radius: 0.313vw;
	padding: 0;
	border: none;
	transition: all 0.3s;
}
.slick-dots li button:hover,
.slick-dots li.slick-active button {
	background: #e17f68;
}
.slick-dots li button::before {
	display: none;
}

.about {
	padding: 6.458vw 0;
}
.about .title-section {
	margin-bottom: 3.333vw;
}
.video-main {
	margin-bottom: 6.458vw;
	display: block;
	position: relative;
}
.video-main::before {
	position: absolute;
	display: block;
	content: " ";
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	background: rgba(23, 23, 23, 0.32);
	z-index: 1;
	transition: all 0.3s;
}
.video-main::after {
	position: absolute;
	display: block;
	content: " ";
	width: 8.438vw;
	height: 6.406vw;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	margin: auto;
	z-index: 2;
	background-image: url(../img/play.svg);
	filter: drop-shadow(0 0 2.083vw rgba(0, 0, 0, 0.64));
	background-repeat: no-repeat;
	background-position: center;
	background-size: contain;
	transition: all 0.3s;
}
.video-main:hover::after {
	transform: scale(1.1);
}
.video-main iframe {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	z-index: -1;
	opacity: 0;
	transition: all 0.3s;
}
.video-main.active iframe {
	z-index: 5;
	opacity: 1;
}
.video-main.active img,
.video-main.active::after {
	opacity: 0;
}
.video-main img {
	width: 100%;
	height: auto;
	display: block;
}
.video-main__title {
	top: 3.594vw;
	left: 3.594vw;
	font-size: 1.667vw;
	line-height: 88%;
	letter-spacing: -0.03em;
	color: #fff;
	z-index: 5;
	font-family: 'Noah';
	position: absolute;
}
.about__text {
	padding: 0 3.333vw;
	margin-left: -1.563vw;
	border-left: 0.208vw solid #d15133;
	font-weight: 300;
	color: rgba(34, 34, 34, 0.86);
}
.about__text p {
	margin-bottom: 0.833vw;
}
.about__text p:last-child {
	margin-bottom: 0;
}
.about__text strong {
	font-weight: 400;
}
.about__text a {
	color: #d15133;
	font-weight: 400;
	border-bottom: 1px #d15133 solid;
}
.about__text a:hover {
	border-color: transparent;
}
.about__logo img {
	width: 15.26vw;
	height: auto;
}

.footer {
	padding: 6.458vw 0;
	background: #f2f2f2;
}
.footer__logo img {
	width: 19.115vw;
}
.footer__nav {
	font-size: 1.146vw;
	margin-left: -2.604vw;
	max-width: 31.25vw;
	line-height: 110%;
	font-weight: 300;
	display: flex;
	align-items: center;
	flex-wrap: wrap;
}
.footer__nav a {
	color: #222;
	border-bottom: 1px solid #222;
}
.footer__nav a:hover {
	border-color: transparent;
}
.footer__nav li {
	margin-right: 3.333vw;
	margin-bottom: 1.667vw;
}
.footer__contacts {
	display: flex;
	flex-direction: column;
	align-items: flex-end;
}
.phone-main {
	font-size: 1.25vw;
	margin-bottom: 0.833vw;
	line-height: 110%;
	font-weight: 700;
	text-align: center;
	color: #222;
	display: inline-flex;
	align-items: center;
}
.phone-main img {
	margin-right: 0.417vw;
	width: 1.094vw;
}
.mail-main {
	font-size: 1.146vw;
	color: #d15133;
	border-bottom: 1px solid #d15133;
	line-height: 110%;
}
.mail-main:hover {
	border-color: transparent;
}
/*Style Sandwich*/
.sandwich span {
	display: block;
}
.sandwich {
    width: 42px;
    height: 42px;
    margin-left: 0;
    margin-right: 0;
    padding-top: 11px;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	flex-direction: column;
	align-items:center;
	border-radius: 8px;
	background: #d15133;
	z-index: 20;
	display: none;
	flex: none;
	cursor: pointer;
}
.sw-topper {
	position: relative;
	top: 4px;
	width: 18px;
	height: 2px;
	border-radius: 4px;
	display: block;
	margin: 0;
	background-color: #fff;
	border: medium none;
	transition: transform 0.5s, top 0.2s;
}
.sw-bottom {
	position: relative;
	top: 8px;
	width: 18px;
	height: 2px;
	border-radius: 4px;
	display: block;
	margin: 0;
	background-color: #fff;
	border: medium none;
	transition: transform 0.5s, top 0.2s;
}
.sw-footer {
	position: relative;
	top: 12px;
	width: 18px;
	height: 2px;
	border-radius: 4px;
	display: block;
	margin: 0;
	background-color: #fff;
	border: medium none;
	transition: transform 0.5s, top 0.2s;
}
.sandwich.active .sw-topper {
	top: 9px;
	transform: rotate(45deg);
}
.sandwich.active .sw-bottom {
	opacity: 0;
}
.sandwich.active .sw-footer {
	top: 5px;
	transform: rotate(-45deg); 
}
.menu-overlay {
	display: none;
}

.wrapper_page {
	padding-top: 7.031vw;
}
.wrapper_page .header {
	border-bottom: 1px solid rgba(34, 34, 34, 0.16);
}
.page-archive {
	padding-top: 6.458vw;
}
.page-archive .title-section {
	margin-bottom: 3.333vw;
}
.data-archive {
	padding: 3.333vw 3.438vw;
	font-size: 3.333vw;
	line-height: 110%;
	letter-spacing: -0.02em;
	text-transform: uppercase;
	cursor: pointer;
	color: rgba(34, 34, 34, 0.32);
	border-right: 0.313vw solid transparent;
	transition: all 0.5s;
}
.slick-current .data-archive {
	color: #d15133;
	font-weight: 500;
	border-color: #e17f68;
}
.data-archive:hover {
	color: #d15133;
}
.text-page {
	font-size: 1.042vw;
	line-height: 140%;
	color: rgba(34, 34, 34, 0.86);
	font-weight: 300;
}
.text-page p {
	margin-bottom: 1.042vw;
}
.item-archive .title-main {
	margin-bottom: 2.083vw;
}
.row.row_photos {
	margin: 0 -0.208vw;
	padding-bottom: 1.354vw;
}
.row.row_photos > div {
	padding: 0 0.208vw;
	margin-bottom: 0.417vw;
}
.item-photo {
	padding-top: 100%;
	position: relative;
	display: block;
}
.item-photo__wrap {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}
.item-photo img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	font-family: 'object-fit: cover;';
}
.button-more {
	height: 3.958vw;
	border-radius: 0.833vw;
	font-size: 1.042vw;
	line-height: 140%;
	color: rgba(34, 34, 34, 0.86);
	background: #f2f2f2;
	border: none;
	cursor: pointer;
	transition: all 0.3s;
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
}
.button-more:hover {
    background: #dad6d6;
}
.item-archive .video-main {
	margin: 2.188vw 0;
}
.descr-main {
	margin-top: 0.833vw;
	font-weight: 300;
	color: rgba(34, 34, 34, 0.64);
}
.slider-partners:not(.slick-initialized) > li:not(:first-child),
.item-for-archive:not(.slick-initialized) > li:not(:first-child),
.slider-nav-archive:not(.slick-initialized) > li:not(:first-child),
.slider-for-program:not(.slick-initialized) > li:not(:first-child),
.slider-nav-program:not(.slick-initialized) > li:not(:first-child) {
	display: none;
}

.application {
	padding-top: 6.458vw;
}
.application .title-section {
	margin-bottom: 3.125vw;
}
.application .title-main {
	margin-bottom: 2.188vw;
}
.item-form {
	margin-bottom: 0.833vw;
	position: relative;
}
.item-form .jq-selectbox__select-text,
.item-form input,
.item-form textarea {
	padding: 0 1.667vw;
	height: 3.958vw;
	font-size: 1.042vw;
	line-height: 140%;
	border: 1px solid rgba(34, 34, 34, 0.16);
	border-radius: 0.833vw;
	color: #222;
	font-weight: 300;
	font-family: 'Stolzl';
	width: 100%;
	background: #fff;
}
.item-form .jq-selectbox {
	display: block;
	z-index: 5 !important;
	width: 100%;
}
.row.row_application {
	margin: 0 -1.667vw;
}
.row.row_application > div {
	padding: 0 1.667vw;
}
.row.row_application .row:not(.row_application) {
	margin: 0 -0.417vw;
}
.row.row_application .row:not(.row_application) > div {
	padding: 0 0.417vw;
}
.btn-page {
	height: 3.958vw;
	font-size: 1.042vw;
	line-height: 140%;
	color: rgba(34, 34, 34, 0.86);
	font-weight: 300;
	width: 100%;
	background: #f2f2f2;
	border-radius: 0.833vw;
	border: none;
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
	padding: 0;
}
.btn-page:hover {
	background: #cdc8c8;
}

.upload-main__title {
	margin-bottom: 1.25vw;
	font-size: 1.042vw;
}
.preview-container {
	height: 22.604vw;
	font-weight: 300;
	border-radius: 0.833vw;
	cursor: pointer;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	background: #f2f2f2;
	position: relative;
	z-index: 1;
}
.preview-container__button {
	width: 7.656vw;
	height: 7.656vw;
	margin-bottom: 1.667vw;
	filter: brightness(70%);
	background-image: url(../img/button_upload.svg);
	background-repeat: no-repeat;
	background-position: center;
	background-size: contain;
	transition: all 0.3s;
}
.preview-container__title {
	font-size: 1.042vw;
	margin-bottom: 0.417vw;
}
.preview-container__descr {
	color: rgba(34, 34, 34, 0.42);
}
.preview-container__image {
	border-radius: 0.833vw;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: -1;
}
.preview-container__image img {
	width: 100%;
	height: 100%;
	margin: 0 ;
	object-fit: cover;
	font-family: 'object-fit: cover;';
	border-radius: 0.833vw;
}
.preview-container__image::after {
	position: absolute;
	display: block;
	content: " ";
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	border-radius: 0.833vw;
	background: rgba(0, 0, 0, 0.44);
}
.upload-main.uploaded .preview-container {
	color: rgba(255, 255, 255, 0.86);
}
.upload-main.uploaded .preview-container__button {
	filter: brightness(90%);
}
.upload-main.uploaded .preview-container__descr {
	color: rgba(255, 255, 255, 0.42);
}
.row_docs {
	align-items: flex-end;
}
.preview-container input {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 5;
	opacity: 0;
}
.radio,
.checkbox {
	font-size: 1.042vw;
	line-height: 140%;
	margin-top: 1.042vw;
	letter-spacing: normal;
	display: flex;
	text-align: left;
}
.radio label input,
.checkbox label input {
	position: absolute;
	z-index: -1;
	height: 1px !important;
	width: 1px !important;
	opacity: 0 !important;
	margin:  0 !important;
}
.radio label > span,
.checkbox label > span {
	position: relative;
	padding: 0 0 0 2.917vw;
	display: block;
	cursor: pointer;
}
.radio label > span::before,
.checkbox label > span:before {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 1.667vw;
	height: 1.667vw;
	border: 1px solid rgba(34, 34, 34, 0.16);
	border-radius: 0.313vw;
	transition: .2s;
}
.radio label > span::after,
.checkbox label > span:after {
	content: '';
	position: absolute;
	top: 0px;
	left: 0px;
	width: 1.667vw;
	height: 1.667vw;
	content: "\f00c";
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	align-items: center;
	justify-content: center;
	-moz-osx-font-smoothing: grayscale;
	-webkit-font-smoothing: antialiased;
	font-style: normal;
	font-variant: normal;
	text-rendering: auto;
	line-height: 1;
	font-family: "Font Awesome 5 Pro";
	font-weight: 700;
	background-image: none;
	color: #D15133;
	font-size: 0.938vw;
	opacity: 0;
	transition: .2s;
}
.radio label input:checked + span:after,
.checkbox label input:checked + span:after {
	opacity: 1;
}
.checkbox strong {
	font-weight: 500;
	color: #d15133;
}
.title-main_application {
	margin-top: 3.333vw;
}
.title-main_application span {
	color: #d15133;
}
.radio label > span::before {
	border-radius: 50%;
}
.radio label span {
	font-weight: 300;
}
.radio label input:checked + span {
	font-weight: 400;
}
.radio label > span::after {
	background-image: url(../img/radio_active.svg);
	content: " ";
	background-size: contain;
}
.radio label input:checked + span::before {
	border-color: transparent;
}
.wrap-radios {
	margin-bottom: 2.604vw;
	display: flex;
	align-items: center;
	flex-wrap: wrap;
}
.wrap-radios .radio {
	margin-right: 3.333vw;
}
.wrap-radios .radio:last-child {
	margin-right: 0;
}
.application .btn-main {
	width: 100%;
	padding: 0 0.521vw;
	margin-top: 1.563vw;
}
.checkbox a {
	color: #222;
	border-bottom: 1px solid #222;
}
.checkbox a:hover {
	border-color: transparent;
}
.descr-min {
	margin-top: 1.25vw;
	font-weight: 300;
	color: rgba(34, 34, 34, 0.64);
}
.descr-min span {
	color: #d15133;
}
.quantity {
	width: 100%;
	height: 3.958vw;
	margin-bottom: 2.188vw;
	display: flex;
	border: 1px solid rgba(34, 34, 34, 0.16);
	border-radius: 0.833vw;
	color: #222;
}
.quantity-button {
	flex: 1;
	border: none;
	background-color: transparent;
	font-size: 1.302vw;
	line-height: 111%;
	text-transform: uppercase;
	color: rgba(34, 34, 34, 0.64);
	display: flex;
	align-items: center;
	justify-content: center;
	cursor: pointer;
	font-weight: 300;
	font-family: 'Stolzl';
}
.quantity__input {
	flex: 2.2;
	display: flex;
	position: relative;
}
.quantity input {
	font-size: 1.042vw;
	width: 100%;
	font-weight: 300;
	font-family: 'Stolzl';
	line-height: 111%;
	color: transparent;
	border: none;
	padding: 0;
	border: none;
	text-align: center;
	background-color: transparent;
	transition: initial;
}
.quantity.selected input {
	color: rgba(34, 34, 34, 0.64);
}
.selected .quantity__placeholder {
	opacity: 0;
}
.quantity__placeholder {
	font-size: 1.042vw;
	font-weight: 300;
	font-family: 'Stolzl';
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	pointer-events: none;
	color: rgba(34, 34, 34, 0.64);
}
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button
{
	-webkit-appearance: none;
	margin: 0;
}
input[type=number]
{
	-moz-appearance: textfield;
}
.item-form__icon {
	width: 1.771vw;
	height: 1.771vw;
	right: 1.667vw;
	top: 0;
	bottom: 0;
	margin: auto;
	display: flex;
	align-items: center;
	justify-content: center;
	position: absolute;
	pointer-events: none;
}
.item-form__icon img {
	width: 100%;
	height: auto;
	max-width: 100%;
	max-height: 100%;
}
.item-form .jq-selectbox__select-text {
	display: flex;
	color: rgba(34, 34, 34, 0.64);
	align-items: center;
}
.item-form .changed .jq-selectbox__select-text {
	color: #222;
}
.jq-selectbox__dropdown {
	border-radius: 0.156vw;
	font-size: 1.042vw;
	line-height: 140%;
    border: 1px solid rgba(34, 34, 34, 0.16);
    border-radius: 0.833vw;
	background: #fff;
	width: 100%;
	font-weight: 300;
	max-height: 15.625vw;
	overflow: auto;
	top: 100% !important;
	bottom: auto !important;
}
.jq-selectbox__dropdown li {
	padding: 0.781vw 1.563vw;
	cursor: pointer;
	transition: all 0.3s;
}
.jq-selectbox__dropdown li:hover {
	background-color: #f3f3f3;
}
.item-form .jq-selectbox__trigger {
	width: 0.99vw;
	height: 0.573vw;
	right: 1.563vw;
	top: 0;
	bottom: 0;
	margin: auto;
	position: absolute;
	cursor: pointer;
	background-image: url(../img/trigger.svg);
	background-repeat: no-repeat;
	background-position: center;
	background-size: contain;
}
